\vendor
\storage
\plugins
tests
.env.example
.gitattributes
.styleci.yml
artisan
images
bootstrap/cache/config.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
C:\wamp64\www\rekeindia-admin\storage\logs/laravel.log
storage/logs/laravel.log
storage/framework/views
.vscode