* {
    box-sizing: border-box;
  }
  :root {
    --bg: #1c1717;
  }

  #overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000008c;
    z-index: 1003;
  }
  
  #pop-up {
    display: block; 
    z-index: 1004;
    position: fixed; 
    padding-left: 10px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*

  @property --a {
    initial-value: 0deg;
    inherits: false;
    syntax: '<angle>';
  }
  @property --h {
    initial-value: 0;
    inherits: false;
    syntax: '<number>';
  }
    
  .loader {
    padding: 2rem 4rem;
    font-family: monospace;
    font-weight: bold;
    color: #fff;
    border-style: solid;
    border-width: 1vmin;
    font-size: 2rem;
    --charge: hsl(var(--h, 0), 80%, 50%);
    -o-border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
       border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
    -webkit-animation: load 2s infinite ease-in-out;
            animation: load 2s infinite ease-in-out;
            text-transform: capitalize;
  }
  @-webkit-keyframes load {
    0%, 10% {
      --a: 0deg;
      --h: 0;
    }
    100% {
      --a: 360deg;
      --h: 100;
    }
  }
  @keyframes load {
    0%, 10% {
      --a: 0deg;
      --h: 0;
    }
    100% {
      --a: 360deg;
      --h: 100;
    }
  }

  */

  /* Colorful custom loader start */

  .loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 30%, #e5f403);
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.loader:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #488f30;
    border-radius: 50%;
    z-index: 1000;
}

.loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, transparent, transparent 30%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}

  /* Colorful custom loader end */