.title-md {
    font-size: 2rem;
}
.text-xl {
    font-size: 1.3rem;
}
.text-md {
    font-size: 1rem;
}
.text-sm {
    font-size: 0.876rem;
}
.text-xs {
    font-size: 0.813rem;
}

.dark {
    color: var(--title-color);
}
.slate {
    color: var(--text-color-light);
}

.course-image {
    width: 3rem;
    height: 3rem;
    border-radius: 0.6rem;
    display: grid;
    place-content: center;
    background-color: #99f6e4;
}

.course-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: #f0fdfa;
}

.course-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-space {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "course video";
    gap: 2rem;
    padding: 2rem;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footage-space > img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
}

.course-description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.course-subject-container {
    padding: 0 1rem;
}
.course-area {
    grid-area: course;
}
.video-section-area {
    grid-area: video;
}

.course-header {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid #eee; */
}

.no-border {
    border: none !important;
}
.mi-custom-acc-body {
    padding: 0.4rem !important;
    display: flex;
    flex-direction: column;
}
.unit-card {
    padding: 0.8rem !important;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.unit-card:hover {
    background: linear-gradient(
        90deg,
        hsla(16, 100%, 76%, 1) 0%,
        hsla(49, 100%, 81%, 1) 100%
    );
    border-radius: 5px;
}

.unit-card.active {
    background: linear-gradient(
        90deg,
        hsla(16, 100%, 76%, 1) 0%,
        hsla(49, 100%, 81%, 1) 100%
    );
    border-radius: 5px;
}

.subject-unit-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-center-align > nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-center-align > nav > ul {
    display: inline-flex !important;
}

.profile-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 5rem;
    background-color: #fff;
    padding: 4rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.about-avatar-image {
    max-width: 20rem;
    display: block;
    margin: 0 auto;
    border-radius: 0.8rem;
}

.about-avatar-image > img {
    width: 100%;
    border-radius: 1.5rem;
}

.section-void {
    padding: 2.5rem 1rem;
    position: relative;
}

.ci-custom-dialog {
    position: relative !important;
    top: 40% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}

.ci-custom-dialog > .modal-content {
    position: relative;
    padding: 2.5rem !important;
}

.close-option-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .profile-grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        background-color: #fff;
        padding: 4rem 1.5rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
        box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    }
}
